@import '../abstracts/_abstract-dir';

.primary-normal-alt {
    color: $primary;
    background-color: $white;
    border: none;
    border-radius: 50px;
    padding: 12px 40px;
    cursor: pointer;
    transition: .3s ease;

    &:hover {
        color: $white;
        background-color: $primary;
    }
}

.secondary-normal {
    color: $white;
    background-color: $secondary;
    border: none;
    border-radius: 50px;
    padding: 12px 40px;
    cursor: pointer;
    transition: .3s ease;

    &:hover {
        color: $white;
        background-color: $black;
    }
}

.secondary-outline {
    color: $secondary;
    background-color: $white;
    border: 1px solid $secondary;
    border-radius: 50px;
    padding: 12px 40px;
    cursor: pointer;
    transition: .3s ease;

    &:hover {
        color: $black;
        border: 1px solid $black;
    }
}