@import '../abstracts/_abstract-dir';

.footer-wrapper {
    width: 100%;
    background-color: $white;
    border-top: 1px solid $gray60;
    padding: $space-5 40px;
    box-sizing: border-box;
    @include flex($justify: space-between, $align: flex-end);

    @include devices(largelaptop) {
        padding: 24px 32px;
    }


    .contact-wrapper {
        @include flex($justify: flex-start, $align: flex-start);

        @include devices(extralargedesktop) {
            flex-direction: column;
        }

        .tablet-contact {
            display: block;

            @include devices(tablet) {
                display: none;
            }
        }

        .non-tablet-contact {
            display: none;

            @include devices(tablet) {
                display: block;
                font-size: 15px;
            }
        }
    }

    ul {
        list-style-type: none;
        margin-block: 0px;
        padding-left: 0px;
        @include flex($gap: 20px, $justify: flex-start);

        @include devices(largelaptop) {
            display: none;
        }

        li a {
            color: $gray30;
            font-size: $text-button;
            text-decoration: none;
        }
    }

    p {
        color: $gray30;
    }
}