@import '../abstracts/_abstract-dir';

.list-wrapper {
    .list-container {
        @include flex($wrap: nowrap, $gap: 30px);

        h3 {
            margin-bottom: $space-2;
        }

        h5 {
            margin-bottom: $space-1;
        }

        h3,
        h5 {
            font-family: 'NotoSansTC-Bold';
            font-weight: 700;
        }
    }

    .line {
        margin-block: $space-4;
        border-bottom: 1px solid $black;
    }
}