@import '../abstracts/_abstract-dir';

.list-wrapper {
    .list-container {
        @include flex($wrap: nowrap, $gap: 30px);

        h3 {
            margin-bottom: $space-2;
        }

        h5 {
            margin-bottom: $space-1;
        }
    }

    .line {
        margin-block: 24px;
        border-bottom: 1px solid $black;
    }
}