@import '../abstracts/_abstract-dir';

.nav-wrapper {
    width: 100vw;
    height: 102px;
    padding-inline: 20px;
    position: fixed;
    top: 0px;
    z-index: 999;
    box-sizing: border-box;
    transition: background-color 0.5s ease;
    @include flex($justify: space-between);

    &.scrolled {
        background-color: #FFFFFFE5;
    }

    .nav-container {
        @include flex($justify: flex-start);
    }

    ul {
        list-style-type: none;
        @include flex($gap: $space-5, $justify: flex-start);

        @include devices(extralargedesktop) {
            gap: 16px;
            padding-left: 20px;
        }

        li a {
            color: $primary;
            font-size: $text-button;
            text-decoration: none;
        }
    }
}

.locale-wrapper {
    @include flex($gap: $space-1);
}

.vertical-line {
    width: 1px;
    height: 15px;
    border-right: 1px solid $black;
}