@import '../abstracts/_abstract-dir';

.nav-wrapper {
    width: 100vw;
    height: 102px;
    padding-inline: 20px;
    position: fixed;
    top: 0px;
    z-index: 999;
    box-sizing: border-box;
    transition: 0.5s ease;
    @include flex($justify: space-between);



    @include devices(tablet) {
        display: none;
    }

    &.scrolled {
        background-color: #FFFFFFE5;
        height: 80px;
    }

    .nav-container {
        @include flex($justify: flex-start);
    }

    ul {
        list-style-type: none;
        @include flex($gap: $space-5, $justify: flex-start);

        @include devices(extralargedesktop) {
            gap: 16px;
            padding-left: 20px;
        }

        li a {
            color: $primary;
            font-size: $text-button;
            text-decoration: none;
        }
    }
}

.locale-wrapper {
    @include flex($gap: $space-1);
}

.vertical-line {
    width: 1px;
    height: 15px;
    border-right: 1px solid $black;
}

.nav {
    display: none;

    @include devices(tablet) {
        display: block;
    }
}

.menuToggle {
    display: block;
    position: relative;

    z-index: 8;

    -webkit-user-select: none;
    user-select: none;
}

.menuToggle a {
    text-decoration: none;
    color: #232323;

    transition: color 0.3s ease;
}

.menuToggle a:hover {
    color: tomato;
}


.menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0;
    /* hide this */
    z-index: 11;
    /* and place it over the hamburger */

    -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
.menuToggle span {
    display: block;
    width: 25px;
    height: 3px;
    margin-bottom: 5px;
    position: relative;

    background: #6386D1;
    border-radius: 3px;

    z-index: 9;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
}

.menuToggle span:first-child {
    transform-origin: 0% 0%;
}

.menuToggle span:nth-last-child(4) {
    transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
.menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(0px, 1px);
    background: $white;
}

/*
 * But let's hide the middle one.
 */
.menuToggle input:checked~span:nth-last-child(5) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
.menuToggle input:checked~span:nth-last-child(4) {
    transform: rotate(-45deg) translate(1px, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
.menu {
    position: absolute;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    left: 50px;
    top: -24px;
    background: #6386D1;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    @include flex($direction: column, $align: center, $justify: center);

    transform-origin: 0% 0%;
    transform: none;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    z-index: 3;
}

.menu li {
    padding: 14px 0;
    font-size: 16px;

    a {
        text-align: center;
        color: $white
    }

    button {
        text-decoration: none;
        color: $black;
    }
}

/*
 * And let's slide it in from the left
 */
.menuToggle input:checked~ul {
    transform: translate(-100%, 0);
}

.menuToggle {
    .fb-logo {
        position: absolute;
        z-index: 5;
        bottom: calc(-100vh + 177px);
        right: -100px;
        transition: 0.75s ease;
    }

    .ig-logo {
        position: absolute;
        z-index: 5;
        bottom: calc(-100vh + 177px);
        right: -100px;
        transition: 0.75s ease;
    }
}

.menuToggle input:checked~.fb-logo {
    right: 60px;
}

.menuToggle input:checked~.ig-logo {
    right: 5px;
}

.tablet-nav {
    width: 100%;
    padding-inline: 25px;
    padding-block: 16px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
    box-sizing: border-box;
    transition: 0.5s ease;
    @include flex($justify: space-between);

    &.scrolled {
        background-color: #FFFFFFE5;
        padding-block: 8px;
    }

    img {
        display: none;

        @include devices(tablet) {
            display: block;
        }
    }
}