@import '../abstracts/_abstract-dir';

.candidate-wrapper {
    width: 100vw;
    background-image: url('/assets/images/candidate-dog.png');
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    @include flex($align: flex-start);
}

.introduction-container {
    width: 322px;
    margin-top: 200px;
    margin-bottom: 74px;
    @include flex($direction: column, $align: flex-start, $gap: $space-5)
}

.introduction-wrapper {
    width: 1130px;
    @include flex($justify: flex-start);

    @include devices(extralargedesktop) {
        width: 900px;
    }

    @include devices(largelaptop) {
        width: 700px;
    }
}