@import '../abstracts/_abstract-dir';

.event-banner {
    width: 100vw;
    min-height: 282px;
    background-image: url('/assets/images/event-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include devices(tablet) {
        min-height: 166px;
        background-image: url('/assets/images/event-bg-tablet.png');
    }

}

.event-wrapper {
    width: 1130px;
    margin-top: $space-6;
    margin-bottom: $space-7;

    @include devices(extralargedesktop) {
        width: 900px;
    }

    @include devices(largelaptop) {
        width: 700px;
    }

    @include devices(tablet) {
        margin-inline: 25px;
        width: 100%;
    }
}

.eventpage-wrapper {
    background-color: $blue80;
    @include flex()
}