@import '../abstracts/_abstract-dir';

.section-one,
.section-two {
    width: 1130px;
}

.section-one {
    position: relative;
    height: 891px;
    @include flex($direction: column, $justify: flex-start, $align: flex-start);

    .title-wrapper {
        position: absolute;
        z-index: 1;
        left: 0;
        top: 280px;
        @include flex($direction: column, $justify: flex-start, $align: flex-start, $gap: $space-4);
    }

    .homepage-dog {
        position: absolute;
        right: 0px;
        top: 0px;
        z-index: 0;
    }

    .donate-dog {
        position: absolute;
        left: 285px;
        top: 600px;
        z-index: 2;
    }
}

.section-two {

    display: grid;
    grid-template-columns: 630px 438px;
    column-gap: 62px;
    row-gap: 32px;
    grid-template-rows: auto;
    grid-template-areas:
        "donate event"
        "introduction event";
    margin-bottom: $space-7;

    .donate {
        height: 288px;
        grid-area: donate;
        background-color: $white;
        border: none;
        border-radius: 20px;
        padding: 60px 40px;
        box-sizing: border-box;
        position: relative;
        @include flex($justify: space-between, $align: flex-end);

        .donate-content {
            @include flex($direction: column, $gap: $space-4, $align: flex-start)
        }

        .orange-logo {
            position: absolute;
            bottom: 24px;
            right: 135px;
            z-index: 0;
        }

        .donate-button-wrapper {
            position: absolute;
            bottom: 60px;
            right: 40px;
            z-index: 1;
        }
    }

    .event {
        height: 562px;
        grid-area: event;
    }

    .introduction-wrapper {
        height: 217px;
        grid-area: introduction;
        @include flex($direction: column, $gap: 8px, $justify: flex-start, $align: flex-start);

        .name-wrapper {
            color: $primary;
            @include flex($align: flex-end, $justify: flex-start, $gap: 10px);

            .name {
                font-size: 28px;
                font-weight: 900;
            }

            .name-alt {
                font-size: $text-button;
                font-weight: $normal;
                position: relative;
                bottom: 4px;
            }
        }

        .introduction {
            font-size: $text-p;
            line-height: 32px;
        }
    }
}

.section-three {
    width: 100%;
    height: 310px;
    position: relative;

    >div {
        position: unset !important;
    }

    .image {
        object-fit: cover;
        width: 100% !important;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    .slogan-image {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: calc((100% - 1130px)/2);
        z-index: 2;
    }
}

.section-four {
    background-color: $white;
    width: 100%;
    padding-top: $space-8;
    padding-bottom: 209px;
    @include flex();

    .issue-four-wrapper {
        @include flex($direction: column, $align: flex-start, $gap: $space-4)
    }

    .issue-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: $space-4;
        width: 1130px;

        .issue-container {
            height: 309px;
            border: none;
            border-radius: 20px;
            background-color: #a4a4a4;
            @include flex($direction: column, $gap: $space-4);

            h4 {
                text-align: center;
            }
        }
    }

}

.section-five {
    position: relative;
    width: 100%;
    margin-top: 129px;
    background-color: transparent;
    @include flex();

    .gallery-container {
        position: absolute;
        left: 0px;
        top: -248px;
    }

    .gallery-item {
        flex-shrink: 0;
        margin-right: 20px;
        /* Adjust margin between images */
        transition: transform 0.5s ease;
        /* Add smooth transition effect */
    }

    .gallery-item img {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
        /* Optional: Add border-radius for rounded corners */
    }

    .contact-form {
        width: 783px;
        margin-top: 60px;

        h2 {
            margin-bottom: $space-4;
        }

        p {
            font-size: $text-p;

            &:nth-child(2) {
                font-family: 'NotoSansTC-Bold';
                font-weight: 700;
                margin-bottom: $space-2;
            }

            &:nth-child(3) {
                margin-bottom: 40px;
            }
        }

        form {
            @include flex($direction: column, $align: flex-start, $gap: $space-2);

            .form-row {
                @include flex($gap: $space-4, $align: flex-start);

                label {
                    width: 90px;
                    position: relative;
                    top: 12px;
                }

                input {
                    width: 242px;
                    height: 48px;
                    padding: $space-2;
                    box-sizing: border-box;
                    border: 1px solid $gray70;
                    font-size: $text-button;

                    &::placeholder {
                        font-size: $text-button;
                        color: $gray70;
                    }
                }

                textarea {
                    width: 669px;
                    height: 112px;
                    padding: $space-2;
                    box-sizing: border-box;
                    border: 1px solid $gray70;
                    font-size: $text-button;

                    &::placeholder {
                        font-size: $text-button;
                        color: $gray70;
                    }
                }

                &.phone {

                    input {
                        &:nth-of-type(1) {
                            width: 80px;
                            margin-right: $space-2;
                        }

                        &:nth-of-type(2) {
                            width: 154px;
                        }
                    }
                }
            }

            button {
                align-self: flex-end;
                margin-top: 32px;
            }
        }

    }
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}