body {
  margin: 0px;
}

p,
h1,
h2,
h3,
h4,
h5,
a {
  font-family: 'NotoSansTC';
  margin: 0px;
}

@font-face {
  font-family: 'NotoSansTC-Bold';
  src: local('NotoSansTC-Bold'), url(../fonts/NotoSansTC/NotoSansTC-Bold.ttf) format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSansTC';
  src: local('NotoSansTC'), url(../fonts/NotoSansTC/NotoSansTC-Regular.ttf) format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSansTC-SemiBold';
  src: local('NotoSansTC-Bold'), url(../fonts/NotoSansTC/NotoSansTC-SemiBold.ttf) format('opentype');
  font-weight: 400;
  font-style: normal;
}