@import './abstracts/_abstract-dir';

.bg {
    position: relative;
    background-color: $blue80;
    @include flex()
}

.flex-row--start {
    @include flex($justify: flex-start)
}

.flex-column--start {
    @include flex($direction: column, $justify: flex-start, $align: flex-start)
}


.full-height {
    height: 100vh;
}

h1 {
    font-size: $text-h1;
}

h2 {
    font-size: $text-h2;

    @include devices(tablet) {
        font-size: $text-h3;
    }
}

h3 {
    font-size: $text-h3;
}

h4 {
    font-size: $text-h4;

    @include devices(tablet) {
        font-size: $text-h5;
    }
}

h5 {
    font-size: $text-h5;
}

button {
    font-size: $text-button;
}

.footnote {
    font-size: $text-footnote;
}

p,
h1,
h2,
h3,
h4,
h5 {
    white-space: pre-line;

    &.primary {
        color: $primary
    }

    &.secondary {
        color: $secondary
    }
}

p {
    &.body {
        font-size: $text-p;
    }

    &.body-large {
        font-size: $text-p-l;
    }
}

.gray-40 {
    color: $gray40;
}